html {
    box-sizing: content-box;
}

html * {
    box-sizing: inherit;
}

header {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 22px;
    box-shadow: 10px 10px 10px rgba(51, 50, 50, 0.582);
    z-index: 2;
    position: relative;
}

header input {
    outline: none;
    height: 25px;
    border: 1px solid #eee;
    border-radius: 5px;
}